@model ProjectManage.Models.NameOfProject

@{
    ViewData["Title"] = "Project";
}
<link rel="stylesheet" href="~/css/Project.css" asp-append-version="true" />
<!--  <script src="~/js/Project.js"></script> -->
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">


<div class="project-header">
    <h1 class="nameofproject">Name of project - "@Model.Name"</h1>
    <h2 class="idofproject">Id of project - "@Model.Id"</h2>
</div>

<form method="post" asp-controller="Manager" asp-action="AddingRedirect">

    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.Name" />

    <div class="project-body">
        <div class="info-container">
            <div class="participants-container">
                <div class="participants-label">Participants:</div>
                <div class="participants" id="participantsContainer">
                    @if (ViewBag.Participants != null)
                    {
                        foreach (var participant in ViewBag.Participants)
                        {
                            <a class="participant-card" asp-controller="Manager" asp-action="Configuration" asp-route-userId="@participant.Id" asp-route-projectId="@Model.Id">
                                @participant.nickname
                            </a>
                        }
                    }
                </div>
                <button type="submit" class="add-button">Add Participant</button>
            </div>

            <div class="progress-container">
                <div class="progress-label">Progress:</div>
                <div class="progress" id="diagramContainer">
                    <div class="progress-percentage">
                        @ViewBag.CompletionPercentage%
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>