@model ProjectManage.Models.ProjectParticipant

@{
    ViewData["Title"] = "ProjeX";
    var nickname = ViewBag.Nickname;
    var password = ViewBag.Password;
    var projectname = ViewBag.ProjectName;
    var projectId = ViewBag.ProjectId;
}

<link rel="stylesheet" href="~/css/Info.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="info-header">
    <h1 class="Title">Information</h1>
</div>

<div class="info-container">
    <form method="post" asp-controller="Participant" asp-action="Save">

        <input type="hidden" name="nickname" value="@ViewBag.nickname" />
        <input type="hidden" name="password" value="@ViewBag.password" />
        <input type="hidden" name="projectname" value="@ViewBag.ProjectName" />
        <input type="hidden" name="projectId" value="@ViewBag.ProjectId" />

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ProjectId" />
        <input type="hidden" asp-for="ProjectName" />

        <label asp-for="ParticipantName">Nickname:</label>
        <input asp-for="ParticipantName" type="text" id="nickname" name="ParticipantName" readonly /><br />

        <label asp-for="Role">Role:</label>
        <input asp-for="Role" type="text" id="Role" readonly /><br />
        <span asp-validation-for="Role" class="text-danger"></span>

        <label asp-for="Tasks">Tasks:</label>
        <input asp-for="Tasks" type="text" id="Tasks" readonly /><br />
        <span asp-validation-for="Tasks" class="text-danger"></span>

        <label asp-for="Status">Status:</label>
        @if (ViewBag.CanEditStatus == true)

        {
            <input asp-for="Status" type="checkbox" id="Status" />

            <br />
            <div class="button-container">
                <button type="submit" class="save-button">Save</button>
            </div>
        }
        else
        {
            <input asp-for="Status" type="checkbox" disabled />

            <br />
            <div class="button-container">
                <a class="back-button" asp-controller="Participant" asp-action="ParticipantProject" asp-route-Name="@projectname" asp-route-id="@projectId" asp-route-nickname="@nickname" asp-route-password="@password">Back</a>
            </div>
        }
    </form>
</div>