@model ProjectManage.Models.ProjectParticipant

@{
    ViewData["Title"] = "ProjeX";
    var nickname = ViewBag.Nickname;
    var password = ViewBag.Password;
}

<link rel="stylesheet" href="~/css/MainPage.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/css-resolution/MainPage-resolution.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

<header>
    <div class="logo" onclick="location.reload()">ProjeX</div>
    <button class="menu-toggle" aria-label="Toggle menu">☰</button>
    <nav class="menu">
        <a class="profile" asp-controller="Participant" asp-action="Profile" asp-route-nickname="@nickname" asp-route-password="@password">@nickname</a>
        <a class="exit" href="/SignIn">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </nav>
</header>

<div class="header-with-line">
    <div class="line"></div>
</div>

<div class="container-wrapper">
    <form method="post" asp-controller="Participant" asp-action="ExistingProjects">
        <input type="hidden" name="nickname" value="@ViewBag.nickname" />
        <input type="hidden" name="password" value="@ViewBag.password" />

        <div class="projects-container">
            <div class="name-of-container">
                <p>You are not CEO in:</p>
            </div>
            <div class="projects">
                @if (ViewBag.Projects != null && ViewBag.Projects.Count > 0)
                {
                    foreach (var project in ViewBag.Projects)
                    {
                        <a class="project-card" asp-controller="Participant" asp-action="ParticipantProject" asp-route-Name="@project.ProjectName" asp-route-id="@project.ProjectId" asp-route-nickname="@nickname" asp-route-password="@password">
                            @project.ProjectName
                        </a>
                    }
                }
                else
                {
                    <div class="empty-container">
                        <p class="empty-text">Empty</p>
                    </div>
                }
            </div>
        </div>
    </form>

    <form method="post" asp-controller="Participant" asp-action="ExistingProjects">
        <input type="hidden" name="nickname" value="@ViewBag.nickname" />
        <input type="hidden" name="password" value="@ViewBag.password" />

        <div class="manager-container">
            <div class="name-of-container">
                <p>You are CEO in:</p>
            </div>
            <div class="manager-projects">
                @if (ViewBag.ManagingProjects != null)
                {
                    foreach (var managingProject in ViewBag.ManagingProjects)
                    {
                        <a class="manager-card" asp-controller="Participant" asp-action="ManagerProject" asp-route-Name="@managingProject.ProjectName" asp-route-id="@managingProject.ProjectId" asp-route-nickname="@nickname" asp-route-password="@password">
                            @managingProject.ProjectName
                        </a>
                    }
                }
                else
                {
                    <div class="empty-container">
                        <p class="empty-text">Empty</p>
                    </div>
                }
            </div>
            <a class="project-button" asp-controller="Participant" asp-action="CreatingProjects" asp-route-nickname="@nickname" asp-route-password="@password">Create Project</a>
        </div>
    </form>

    <form method="post" asp-controller="Participant" asp-action="ExistingProjects">
        <input type="hidden" name="nickname" value="@ViewBag.nickname" />
        <input type="hidden" name="password" value="@ViewBag.password" />

        <div class="tasks-container">
            <div class="name-of-container">
                <p>Tasks:</p>
            </div>
            <div class="tasks">
                @if (ViewBag.Tasks != null)
                {
                    foreach (var task in ViewBag.Tasks)
                    {
                        <a class="task-card" asp-controller="Participant" asp-action="ParticipantProject" asp-route-Name="@task.ProjectName" asp-route-id="@task.ProjectId" asp-route-nickname="@nickname" asp-route-password="@password">
                            @task.Tasks
                        </a>
                    }
                }
                else
                {
                    <div class="empty-container">
                        <p class="empty-text">Empty</p>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

<footer>
    <div class="footer-with-line">
        <div class="line"></div>
    </div>
    <div class="back-to-top">
        <a href="#top" class="back-to-top-btn">
            <i class="fa-solid fa-arrow-up"></i>
        </a>
    </div>
    <div class="social-icons">
        <div class="li_icon">
            <a href="https://www.facebook.com/profile.php?id=100046030630926" target="_blank" class="social-icon">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </div>
        <div class="li_icon">
            <a href="https://www.instagram.com/m0nk3go/" target="_blank" class="social-icon">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
        <div class="li_icon">
            <a href="https://x.com/m0nk3go" target="_blank" class="social-icon">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </div>
    <div class="footer-text">
        <p>© 2025 Oleksandr Dzhyvalov. All rights reserved</p>
        <p>Built with ASP.NET<br>HTML & CSS & Javascript</p>
    </div>
</footer>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener('scroll', function () {
            const header = document.querySelector('header');
            if (window.scrollY > 50) {
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        });

        document.querySelector('.back-to-top-btn').addEventListener('click', function (e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth',
            });
        });

        const menuToggle = document.querySelector('.menu-toggle');
        const nav = document.querySelector('nav');

        menuToggle.addEventListener('click', () => {
                nav.classList.toggle('open');
                menuToggle.textContent = nav.classList.contains('open') ? "✖" : "☰";
            });

        window.addEventListener('resize', () => {
            if (window.innerWidth > 750) {
                nav.classList.remove('open');
                menuToggle.textContent = "☰";
            }
        });
    </script>
}