@model ProjectManage.Models.NameOfProject

@{
    ViewData["Title"] = "ProjeX";
}

<link rel="stylesheet" href="~/css/ManagerProject.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/css-resolution/ManagerProject-resolution.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

<header>
    <a class="logo" asp-controller="Participant" asp-action="MainPage">ProjeX</a>
</header>

<div class="header-with-line">
    <div class="line"></div>
</div>

<div class="project-header">
    <h1 class="nameofproject">--- @Model.Name ---</h1>
    <h2 class="enterinproject">You entered like - @ViewBag.UserRole</h2>
</div>

<form method="post">
    <div class="project-body">
        <div class="info-container">
            <div class="participants-container">
                <div class="participants-label">Participants:</div>
                <div class="participants" id="participantsContainer">
                    @if (ViewBag.Participants != null)
                    {
                        foreach (var participant in ViewBag.Participants)
                        {
                            <a class="participant-card" asp-controller="Participant" asp-action="Configuration" asp-route-id="@participant.Id" asp-route-nickname="@participant.nickname">
                                @participant.nickname
                            </a>
                        }
                    }
                </div>
                <a class="add-button" asp-controller="Participant" asp-action="Adding" asp-route-id="@ViewBag.ProjectId" asp-route-name="@ViewBag.ProjectName">Add Participant</a>
            </div>

            <div class="progress-container">
                <div class="progress-label">Progress:</div>
                <div class="progress" id="diagramContainer">
                    <div class="wave-container" style="--progress: @(80 - ViewBag.CompletionPercentage)%;">
                        <svg class="wave" viewBox="0 -5 1000 100" preserveAspectRatio="none">
                            <path class="wave-path" d="M0,50 Q25,0 50,50 T100,50 T150,50 T200,50 T250,50 T300,50 T350,50 T400,50 T450,50 T500,50 T550,50 T600,50 T650,50 T700,50 T750,50 T800,50 T850,50 T900,50 T950,50 T1000,50 L1000,100 L0,100 Z"></path>
                        </svg>
                    </div>
                    <div class="fill-rect" style="--progress: @(100 - ViewBag.CompletionPercentage)%;"></div>
                    <div class="progress-percentage">
                        @ViewBag.CompletionPercentage%
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<footer>
    <div class="footer-with-line">
        <div class="line"></div>
    </div>
    <div class="back-to-top">
        <a href="#top" class="back-to-top-btn">
            <i class="fa-solid fa-arrow-up"></i>
        </a>
    </div>
    <div class="social-icons">
        <div class="li_icon">
            <a href="https://www.facebook.com/profile.php?id=100046030630926" target="_blank" class="social-icon">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </div>
        <div class="li_icon">
            <a href="https://www.instagram.com/m0nk3go/" target="_blank" class="social-icon">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
        <div class="li_icon">
            <a href="https://x.com/m0nk3go" target="_blank" class="social-icon">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </div>
    <div class="footer-text">
        <p>© 2025 Oleksandr Dzhyvalov. All rights reserved</p>
        <p>Built with ASP.NET<br>HTML & CSS & Javascript</p>
    </div>
</footer>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener('scroll', function () {
            const header = document.querySelector('header');
            if (window.scrollY > 50) {
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        });

        document.querySelector('.back-to-top-btn').addEventListener('click', function (e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth',
            });
        });

        AOS.init({
            once: true
        });
    </script>
}