@model ProjectManage.Models.ProjectParticipant

@{
    ViewData["Title"] = "ProjeX";
    var nickname = ViewBag.Nickname;
}
<link rel="stylesheet" href="~/css/ExistingProjects.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="project-header">
    <h1 class="title">Existing Projects</h1>
</div>

<form method="post" asp-controller="Participant" asp-action="ExistingProjects">
    <input type="hidden" name="nickname" value="@ViewBag.nickname" />
    <input type="hidden" name="password" value="@ViewBag.password" />

    <div class="projects-container">
        <div class="projects">
            @if (ViewBag.Projects != null)
            {
                foreach (var project in ViewBag.Projects)
                {
                    <a class="project-card" asp-controller="Participant" asp-action="ParticipantProject" asp-route-Name="@project.ProjectName" asp-route-id="@project.ProjectId" asp-route-nickname="@nickname">
                        @project.ProjectName
                    </a>
                }
            }
        </div>
        <a class="back-button" asp-controller="Participant" asp-action="Index">Back</a>
    </div>
</form>