@model ProjectManage.Models.NameOfProject

@{
    ViewData["Title"] = "ProjeX";
}
<link rel="stylesheet" href="~/css/ParticipantProject.css" asp-append-version="true" />
<!--  <script src="~/js/Project.js"></script> -->
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">


<div class="project-header">
    <h1 class="nameofproject">@Model.Name</h1>
</div>

<form method="post" asp-controller="Participant" asp-action="Info">

    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.Name" />

    <div class="project-body">
        <div class="info-container">
            <div class="participants-container">
                <div class="participants-label">Participants:</div>
                <div class="participants" id="participantsContainer">
                    @if (ViewBag.Participants != null)
                    {
                        foreach (var participant in ViewBag.Participants)
                        {
                            <a class="participant-card" asp-controller="Participant" asp-action="Info" asp-route-participantId="@participant.Id" asp-route-projectId="@Model.Id" asp-route-currentNickname="@ViewBag.Nickname">
                                @participant.nickname
                            </a>
                        }
                    }
                </div>
            </div>

            <div class="progress-container">
                <div class="progress-label">Progress:</div>
                <div class="progress" id="diagramContainer">
                    <div class="progress-percentage">
                        @ViewBag.CompletionPercentage%
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>